body
{
	background-color: #ebebeb;
}

p
{
	margin: 5px 0px 5px 0px;
}

/*To OverWrite Bootstrap*/
.row
{
	margin-right: 0px;
    margin-left: 0px;
}

.specialities
{
	display: inline;
}

.orangeIcon
{
	color: #ec561b;
}

.orangeButton
{
	float: right;
	background-color: #ec561b;
	color: #ffffff;
}

@media screen and (min-width: 640px)
{
	.paddingBottom5
	{
		padding-bottom: 5%;
	}

	.productBoxBottom
	{
		background-color: #ffffff;
		border: solid;
		border-width: 1px;
		border-radius: 0px 0px 8px 8px;
		border-color: transparent;
	}

	.productBoxTop
	{
		background-color: #ffffff;
		border: solid;
		border-width: 1px;
		border-radius: 8px 8px 0px 0px;
		border-color: transparent;
	}

	.seperateProduct
	{
		margin-top: 1px;
		padding: 1%;
	}

	.productBoxContainer
	{
		overflow: hidden;
		margin-left: .5%;
		margin-right: 30%;
		
	}

	.priceBoxDesktop
	{
		text-align: right;
		margin-top: 15px;
		margin-bottom: 5px;
	}

	.productTitle
	{
		margin-top: 15px;
		margin-bottom: 5px;
		text-align: left;
	}

	.orangeButton
	{
		margin-top: 15px;
	}

	.logo
	{
		margin-top: 15px;
		margin-bottom: 5px;
		max-width: 70%;
	}
}

