body
{
	background-color: #ebebeb;
}

p
{
	margin: 5px 0px 5px 0px;
}

.floatRight
{
	float: right;
}

/*To OverWrite Bootstrap*/
.row
{
	margin-right: 0px;
    margin-left: 0px;
}

.btn-default
{
	border-color: transparent;
}

.specialities
{
	display: inline;
}

.orangeIcon
{
	color: #ec561b;
}

.price
{
  display: inline;
  font-size: 24px;
  color: rgb(236, 86, 27);
  font-weight: bold;
  line-height: 1.25;
}

.annuity
{
	display: inline;
	padding-left: 3%;
	font-size: 10px;
	text-decoration: underline;
}

.discount
{
	text-decoration: line-through;
	position: relative;
    right: 98px;
    margin-bottom: 0px !important; /*Not a good habbit but...*/

}

.largeButton
{
	float: right;
	background-color: #ec561b;
	color: #ffffff;
}

.smallButton
{
	background-color: #ffffff;
	color: #ec561b;
	border-color: #ec561b; 
}

.btn-default:hover
{
	background-color: #ffffff;
	color: #ec561b;
	border-color: #ec561b !important; 
}


@media screen and (min-width: 640px)
{
	.noRightPadding
	{
		padding-right: 0px;
	}

	.paddingBottom5
	{
		padding-bottom: 3%;
	}

	.fullWidth
	{
		width: 100%;
	}

	.productBoxBottom
	{
		background-color: #ffffff;
		border: solid;
		border-width: 1px;
		border-radius: 0px 0px 8px 8px;
		border-color: transparent;
	}

	.productBoxTop
	{
		background-color: #ffffff;
		border: solid;
		border-width: 1px;
		border-radius: 8px 8px 0px 0px;
		border-color: transparent;
	}

	.seperateProduct
	{
		margin-top: 1px;
		padding: 2%;
	}

	.productBoxContainer
	{
		overflow: hidden;
	    margin: 1% 30% 1% .5%;

		
	}

	.priceBoxDesktop
	{
		text-align: right;
		/*margin-top: 15px;*/
		margin-bottom: 5px;
	}

	.productTitle
	{
		margin-top: 15px;
		margin-bottom: 5px;
		text-align: left;
	}

	.largeButton
	{
		margin-top: 15px;
	}

	.smallButton
	{
	    margin-top: 18px;
	    float: right;
	}

	.logo
	{
		margin-top: 15px;
		margin-bottom: 5px;
		max-width: 70%;
	}
}

