body
{
	background-color: #ebebeb;
}

/*To OverWrite Bootstrap*/
.row
{
	margin-right: 0px;
    margin-left: 0px;
}

@media screen and (min-width: 640px)
{
	.productBoxContainer
	{
		overflow: hidden;
		margin-left: .5%;
		margin-right: 30%;
		background-color: #ffffff;
		border-radius: 8px;

	}

	.priceBoxDesktop
	{
		text-align: right;
		margin-top: 15px;
		margin-bottom: 5px;
	}

	.productTitle
	{
		margin-top: 15px;
		margin-bottom: 5px;
		text-align: left;
	}

	.logo
	{
		margin-top: 15px;
		margin-bottom: 5px;
		max-width: 70%;
	}
}
